* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #d2c4aa;
  }
  ul {
    display: flex;
    justify-content: space-around;
  }
  nav {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #814827;
  }
  li {
    list-style-type: none;
  }
  .link {
    text-decoration-line: none;
    color: black;
    font-size: 28px;
    font-weight: bold;
  }
  